<div class="cover gh-outer">
    <div id="cover-particles"></div>
    <div class="cover-content gh-inner">
        {{#if @site.icon}}
            <div class="cover-icon">
                <img class="cover-icon-image" src="{{@site.icon}}" alt="{{@site.title}}">
            </div>
        {{/if}}

        {{#if @custom.hero_name}}
            <h1 class="cover-title">{{@custom.hero_name}}</h1>
        {{/if}}

        {{#if @custom.hero_tagline}}
            <p class="cover-tagline">{{@custom.hero_tagline}}</p>
        {{/if}}

        <div class="cover-chips">
            {{#if @custom.github_url}}
                <a class="cover-chip" href="{{@custom.github_url}}" target="_blank" rel="noopener noreferrer">
                    {{> "icons/github"}}
                    <span>Check out my GitHub</span>
                </a>
            {{/if}}
            {{#if @custom.linkedin_url}}
                <a class="cover-chip" href="{{@custom.linkedin_url}}" target="_blank" rel="noopener noreferrer">
                    {{> "icons/linkedin"}}
                    <span>Visit my LinkedIn</span>
                </a>
            {{/if}}
        </div>
    </div>
</div>
